<!DOCTYPE html>
<html lang="pt-BR" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no, url=no">
    <style>
        @media only screen and (max-width: 600px) {
            .watermark {
                background: #ffffff !important;
            }
        }
    </style>
</head>
<body style="margin: 0; padding: 0; background:#f9f9f9; font-family: 'Open Sans', 'Tahoma', sans-serif; line-height: 2.1em;">
    <div role="article" aria-roledescription="email" lang="pt-BR" dir="ltr" style="font-size: medium; font-family: 'Open Sans', 'Tahoma', sans-serif; line-height: 2.1em;">
        <table role="presentation" style="width: 60.5em; max-width: 100%; background: #ffffff; margin: 0 auto;" align="center" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <h1 style="text-align: center; font-size: 1.5em; margin-bottom: 1.5rem;">Redefinição de Senha</h1>
                    <p>Olá,</p>
                    <p>Recebemos uma solicitação para redefinir a senha da sua conta no nosso aplicativo.</p>
                    <p>Clique no botão abaixo para continuar o processo:</p>
                    <p style="text-align: center;">
                        <a class="button" th:href="@{http://localhost:8080/controller/admin/send-template(token=${token})}">Redefinir Senha</a>
                    </p>
                    <p>Atenciosamente,<br> <span>Equipe Catalogo Online</span></p>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
